h1{
    color:red;
    border:10px green dotted;

}
p{
    color:blue;
    text-align: center;
    font-size:20px;
}
ul{
    list-style-type:none;
    display:flex;
}
li{
    padding: 20px;
}
div a:link{
    color:rosybrown;
    font-size: 20px;
    text-decoration: none;
}
div a:visited{
    color:red;
}
div{
    background:green;
}
div a:hover{
    background-color: black;
    color: white;
}


